<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   

    <title>Szarvaskertészte Balmazújváros</title>
    <style>
        body {
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    background-color: #f0f0f0;
    padding: 20px;
}

.hero {
    background-color: #e0e0e0;
    padding: 40px;
}




    </style>
   
</head>
<body>
    <header>
        <h1>Szarvaskertészet, Balmazújváros</h1>
</header>
    <main>
        <section class="hero">
            <h2>A Lehetett Volna Weboldal </h2>
            <h2>Kűgyé hozzá anyagot</h2>
            <h2>képek, leirás, bemutatkozás akarmi</h2>
        </section>
    </main>

    <script>
    </script>
</body>
</html>